<div class="row">
    <div class="col-md-3">
        <div class="prize-box gold">
            <div class="prize-header">
              <h3>Grand Prize</h3>
            </div>
            <ul>
                <li><strong>₦1,000,000</strong></li>
            
              <li> ₦250,000 </li>
              <li> HP Laptop </li>
              <li> 3 months intensive computer training</li>
              <li> 3-month supply of Indomie</li>
              <li> 3-month supply of Sprite</li>
          </ul>
        </div>
    </div>
    
    <div class="col-md-3">
        <div class="prize-box silver">
          <div class="prize-header">
            <h3>1st Runners-Up</h3>
          </div>
            <ul>
                <li>₦150,000 </li>
                <li>x </li>
                <li>x </li>
                <li>x </li>
                <li>x </li>
                <li>x </li>
                <li>x </li>
            </ul>
        </div>
    </div>
    <div class="col-md-3">
        <div class="prize-box bronze">
            <div class="prize-header">
              <h3>2nd Runners-Up</h3>
            </div>
            <ul>
                <li>₦100,000 </li>
                <li>x </li>
                <li>x </li>
                <li>x </li>
                <li>x </li>
                <li>x </li>
                <li>x </li>
            </ul>
        </div>
    </div>
    <div class="col-md-3">
        <div class="prize-box blue">
            <div class="prize-header">
              <h3>Consolation</h3>
            </div>
            <ul>
                <li>Exciting rewards for other contestants</li>
            </ul>
        </div>
    </div>
</div>