<%- include('./partials/nav') %>


          <div class="page-header">
              <div class=" text-center ">
                  <h4 class="display-4">Our Contestants</h4>
                  <p ><a href="/">home</a>/Contestants</p>
              </div>
        </div>

<div class="container">
  <%- include('./partials/messages') %>
  <%- include('./partials/contestants') %>
      
</div>

<%- include('./partials/footer') %>


