
    <%- include('./partials/nav') %>

    <div class=" mb-2">
      <div class="page-header">
  
              <div class=" text-center ">
                  <h4 class="display-4">Prizes</h4>
                  <p ><a href="/">home</a>/Prizes</p>
              </div>
          </div>  
          
  </div>

    <div class="container">
        <%- include('./partials/messages') %>
       <%- include('./partials/prizes') %>
    </div>

    <%- include('./partials/footer') %>
